/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4-mrt-2015, 14:53:05
    Author     : Luc
*/
.wrapper {
  margin-bottom:10px;
}
.first {
  position:relative;
  border-bottom:none;
  width:150px;
  margin-bottom:-2px;
  padding:10px;
  border-radius:5px 5px 0 0;
}
.second {
  //min-height:100px;
  border-radius:0 5px 5px 5px;
  padding:10px;
}

.list-group li:nth-child(even){
}
.list-group li:nth-child(odd){
}