<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Kwetter admin login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- JQuery is needed for bootstrap -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

        <!-- AngularJS -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
        <!-- AngularJS $resource -->
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-resource.js"></script>
        <!-- my own stylesheet -->
        <link rel="stylesheet" href="../main.css">
        <!-- my own javascript -->
        <script src="admin.js"></script>
    </head>
    <body data-ng-app='Kwetter' data-ng-controller="Kwetter_admin">
        <div class="container">
            <div class='wrapper'>
                <div class='first'>Tweets</div>
                <div class='second' style="">
                    <ul class="list-group" style="">
                        <li style="width:100%" class="list-group-item" data-ng-repeat="tweet in getTweets()| filter:searchText">
                            <div style="width:80%">
                                <div style="width:100%">
                                    {{tweet.tweetText}}
                                </div>
                                <div style="width:100%">
                                    {{tweet.datum| date:'yyyy-MM-dd HH:mm:ss'}}
                                </div>
                                <div style="width:100%">
                                    {{tweet.user}}
                                </div>
                                <div style="width:100%">
                                    <form data-ng-submit="delTweet()">
                                        <input type="hidden" id="tweetID" value="{{tweet.id}}"/>
                                        <button type="submit" style="width:100%;height:100%;" class="btn btn-default">
                                            DEL
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>
