<!DOCTYPE html>
<html>
    <head>
        <title>Angular JS Web-Socket</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">        
    </head>
    <body ng-app="Kwetter" class="ng-cloak">                
        <script src="lib/angular.min.js" type="text/javascript"></script>
        <script src="lib/angular-websocket.js" type="text/javascript"></script>
        <div ng-controller="kwetterController">

            <div id="helloId"></div>

            </br>
            <div id="helloAllId"></div>

            </br>

            <form ng-submit="submit()">                
                <input id="tbInput" type="text">
                <button id="btntbInputAtpId" type="submit">Send Message</button>
            </form>  

            </br>

            <form ng-submit="submitAll()">                
                <button id="btnAtpAllId" type="submit" >Send Message to ALL</button>
            </form>

            </br>

            <table>
                <thead>
                    <tr>
                        <th>Rank</th>   
                        <th>Name</th>   
                        <th>E-mail</th>   
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in Kwetter.Kwetter">
                        <td>{{item.rank}}</td>               
                        <td>{{item.name}}</td>
                        <td>{{item.email}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <script src="js/app.js" type="text/javascript"></script>      
    </body>
</html>