<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Kwetter home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- JQuery is needed for bootstrap -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
       <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

        <!-- AngularJS -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
        <!-- AngularJS $resource -->
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-resource.js"></script>
        <!-- my own stylesheet -->
        <link rel="stylesheet" href="main.css">
        <!-- my own javascript -->
        <script src="main_resource.js"></script>
    </head>
    <body data-ng-app='Kwetter' data-ng-controller="Kwetter_home">
        <div class="container">
           
            <div class="wrapper">
                <div class="first">Login</div>
                <div class="second">
                    <form role='form' data-ng-submit="submitLogin()">
                        <div class='form-group'>
                            <label for='name'>Name</label>
                            <input type='text' class='form-control' id='name' placeholder='Enter name' data-ng-model="name"/>
                            <br>
                            <input type='password' class='form-control' id='password' placeholder='Enter password'/>
                            <!--<p data-ng-hide='error'>Test application so no password is needed</p>-->
                            <p data-ng-show='error'>Can't find this user</p>
                            <button type="submit" class="btn btn-default">Submit</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="wrapper">
                <div class="first">Usernames:</div>
                <div class="second">
                    <ul class="list-group">
                        <li class="list-group-item" data-ng-repeat="username in getUsernames() track by username">
                            {{username}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>
