<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Kwetter logged in</title> 
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- JQuery is needed for bootstrap -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

        <!-- AngularJS -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
        <!-- AngularJS $resource -->
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-resource.js"></script>
        <!-- my own stylesheet -->
        <link rel="stylesheet" href="main.css">
        <!-- my own javascript -->
        <script src="main_resource.js"></script>
    </head>
    <body data-ng-app='Kwetter' data-ng-controller="Kwetter_loggedin">
        <div class="container">
          
            <div class='row'>
                <div class='col-sm-10'>
                    <input type='search' class="form-control" data-ng-model='searchText' placeholder='Search' style='margin-right:10%;width: 90%;' />
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">{{currentUser.name}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" data-ng-click="logout()">Logout</a></li>
                    </ul>
                </div>
            </div>

            <br>

            <div class="row">
                <div class='col-sm-6'>
                    <div class='wrapper'>
                        <div class='first'>Whats happening</div>
                        <div class='second'>
                            <form role='form' data-ng-submit="submitTweet()" name='tweetForm'>
                                <div class='form-group'>
                                    <textarea data-ng-maxlength='140' style='width:100%' class="form-control" required name='tweetText' data-ng-model="tweetText"></textarea>
                                    <br>
                                    <button type="submit" data-ng-disabled="tweetForm.tweetText.$invalid" class="btn btn-default">Submit</button>
                                    <span style='float:right' data-ng-hide="tweetForm.tweetText.$invalid" >{{tweetText.length}}/140</span>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class='wrapper'>
                        <div class='first'>Tweets</div>
                        <div class='second'>
                            <ul class="list-group">
                                <li class="list-group-item" data-ng-repeat="tweet in getMyTweetsAndFromFollowedAccounts()| filter:searchText">
                                    <div style="width:100%">
                                        {{tweet.tweetText}}
                                    </div>
                                    <div style="width:100%">
                                        {{tweet.datum| date:'yyyy-MM-dd HH:mm:ss'}}
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class='col-sm-6'>
                    <div class='wrapper'>
                        <div class='first'>Your tweets {{currentUser.tweets.length}}</div>
                        <div class='second'>
                            <div style="width:100%">
                                At {{currentUser.tweets[currentUser.tweets.length - 1].datum| date:'yyyy-MM-dd HH:mm:ss'}}: </div>
                            <div style="width:100%">
                                {{currentUser.tweets[currentUser.tweets.length - 1].tweetText}}
                            </div>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='col-sm-6'>
                            <div class='wrapper'>
                                <div class='first'>Following {{currentUser.following.length}}</div>
                                <div class='second' >
                                    <span data-ng-repeat="followedUserID in currentUser.following">
                                        <a href='profile.html?id={{followedUserID}}'>
                                            <img data-ng-src="{{getUserById(followedUserID).image}}" style='width:50px;height:50px' alt='profile picture'/>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class='col-sm-6'>
                            <div class='wrapper'>
                                <div class='first'>Followers {{currentUser.followers.length}}</div>
                                <div class='second'>
                                    <span data-ng-repeat="followedUserID in currentUser.followers">
                                        <a href='profile.html?id={{followedUserID}}'>
                                            <img data-ng-src="{{getUserById(followedUserID).image}}" style='width:50px;height:50px' alt='profile picture'/>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
