
.wrapper {
  margin-bottom:10px;
}
.first {
  position:relative;
  border:2px solid black;
  border-bottom:none;
  width:150px;
  margin-bottom:-2px;
  padding:10px;
  border-radius:5px 5px 0 0;
}
.second {
  //min-height:100px;
  border-radius:0 5px 5px 5px;
  border:2px solid black;
  padding:10px;
}
